#!/bin/bash

# Disable screen blanking and power management
xset s off         # Don't activate screensaver
xset -dpms         # Disable DPMS (Display Power Management Signaling)
xset s noblank     # Don't blank the video device
