[Unit]
Description=Schedule to turn on display

[Timer]
# Turn on at 05:30 and 16:30 daily
OnCalendar=*-*-* 05:30:00,16:30:00
Persistent=true

[Install]
WantedBy=timers.target
